/* Page service */

.services {

  &_section_banner {
    background-color: rgba(2, 38, 64, 0.4);
  }

  &_banner_products {
    display: flex;
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.3)
    ), url("https://www.bo-re-tech.com/images/products/banner_01_1920_415.jpg");
    background-color: #333333;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 360px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 48px;
    }
  }

  &_banner {
    display: flex;
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.3)
    ), url("https://www.bo-re-tech.com/images/solutions/banner_01_1920_415.jpg");
    background-color: #333333;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 360px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 48px;
    }
  }

  &_section_1 {
    margin: 2rem 0;

    &__title {
      color: black;
      font-size: 36px;
      font-weight: lighter;
    }

    &__paragraph {
      color: black;
    }
  }
}
